In [1]:
import sqlite3
import os

# Define the directory structure
sandbox_dir = os.path.expanduser("~/sandbox")  # Parent directory
os.makedirs(sandbox_dir, exist_ok=True)  # Ensure directories exist
halogens_db_sbpath = os.path.join(sandbox_dir, "halogens.db")  # SQLite database file

# Connect to SQLite database (creates file if it doesn't exist)
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

# Create a table called elements
cursor.execute('''
    CREATE TABLE IF NOT EXISTS elements (
        AtomicNumber INTEGER PRIMARY KEY,
        Name TEXT NOT NULL,
        Symbol TEXT NOT NULL,
        AtomicMass REAL NOT NULL
    )
''')

# Commit changes and close connection
conn.commit()
conn.close()

In [2]:
import sqlite3

conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

cursor.execute("PRAGMA table_info(elements)")
schema = cursor.fetchall()
for col in schema:
    print(col)

conn.close()

(0, 'Element', 'TEXT', 0, None, 0)
(1, 'AtomicNumber', 'INTEGER', 0, None, 0)
(2, 'AtomicMass', 'REAL', 0, None, 0)
(3, 'Electronegativity', 'REAL', 0, None, 0)

In [3]:
import sqlite3

# Connect to your database
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

# Select all rows from the elements table
cursor.execute("SELECT * FROM elements")
rows = cursor.fetchall()

# Print each row
for row in rows:
    print(row)

# Close the connection
conn.close()

('F', 9, 18.998, 3.98)
('Cl', 17, 35.45, 3.16)
('Br', 35, 79.904, 2.96)
('I', 53, 126.9, 2.66)
('At', 85, 210.0, 2.2)
('Ts', 117, 294.0, None)

In [4]:
import sqlite3

# Reconnect to the database
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

# Insert element data
elements_data = [
    ("H", 1, 1.008, 2.4),
    ("Li", 3, 6.94, 1.0)
]

cursor.executemany("INSERT INTO elements VALUES (?, ?, ?, ?)", elements_data)

# Commit changes and close connection
conn.commit()
conn.close()

In [5]:
import sqlite3

# Connect to your database
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

# Select all rows from the elements table
cursor.execute("SELECT * FROM elements")
rows = cursor.fetchall()

# Print each row
for row in rows:
    print(row)

# Close the connection
conn.close()

('F', 9, 18.998, 3.98)
('Cl', 17, 35.45, 3.16)
('Br', 35, 79.904, 2.96)
('I', 53, 126.9, 2.66)
('At', 85, 210.0, 2.2)
('Ts', 117, 294.0, None)
('H', 1, 1.008, 2.4)
('Li', 3, 6.94, 1.0)

In [6]:
import sqlite3

# Connect to your database
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

# Update Electronegativity for Hydrogen and Lithium
cursor.execute("""
    UPDATE elements
    SET Electronegativity = 2.2
    WHERE Element = 'H'
""")

cursor.execute("""
    UPDATE elements
    SET Electronegativity = 0.98
    WHERE Element = 'Li'
""")

# Commit changes and close connection
conn.commit()
conn.close()

In [7]:
import sqlite3

# Connect to your database
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

# Select all rows from the elements table
cursor.execute("SELECT * FROM elements")
rows = cursor.fetchall()

# Print each row
for row in rows:
    print(row)

# Close the connection
conn.close()

('F', 9, 18.998, 3.98)
('Cl', 17, 35.45, 3.16)
('Br', 35, 79.904, 2.96)
('I', 53, 126.9, 2.66)
('At', 85, 210.0, 2.2)
('Ts', 117, 294.0, None)
('H', 1, 1.008, 2.2)
('Li', 3, 6.94, 0.98)

In [8]:
import sqlite3

conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

# Delete incorrect rows based on suspicious 'Element' values
cursor.execute("DELETE FROM elements WHERE Element IN ('H', 'Li')")

conn.commit()
conn.close()

In [9]:
import sqlite3

# Connect to your database
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

# Select all rows from the elements table
cursor.execute("SELECT * FROM elements")
rows = cursor.fetchall()

# Print each row
for row in rows:
    print(row)

# Close the connection
conn.close()

('F', 9, 18.998, 3.98)
('Cl', 17, 35.45, 3.16)
('Br', 35, 79.904, 2.96)
('I', 53, 126.9, 2.66)
('At', 85, 210.0, 2.2)
('Ts', 117, 294.0, None)

In [10]:
import sqlite3

# Reconnect and create a cursor
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

# Run a query
#cursor.execute("SELECT Element FROM elements WHERE AtomicNumber >= 10")
cursor.execute("SELECT Element, AtomicNumber FROM elements WHERE AtomicNumber >= 10")


# Fetch and print results
results = cursor.fetchall()
for row in results:
    print(row)  # Each row is a tuple (Name, Symbol)

# Close connection
conn.close()

('Cl', 17)
('Br', 35)
('I', 53)
('At', 85)
('Ts', 117)

In [11]:
import sqlite3
import pandas as pd

# Reconnect to the database
conn = sqlite3.connect(halogens_db_sbpath)

# Read SQL query into DataFrame
df = pd.read_sql_query("SELECT * FROM elements", conn)

# Display DataFrame
print(df.head(10))

# Close connection
conn.close()

  Element  AtomicNumber  AtomicMass  Electronegativity
0       F             9      18.998               3.98
1      Cl            17      35.450               3.16
2      Br            35      79.904               2.96
3       I            53     126.900               2.66
4      At            85     210.000               2.20
5      Ts           117     294.000                NaN

In [12]:
import sqlite3
import pandas as pd
import os

# Define the directory structure
sandbox_dir = os.path.expanduser("~/sandbox")  # Parent directory
os.makedirs(sandbox_dir, exist_ok=True)  # Ensure directories exist

# Define file paths
halogens_csv_sbpath = os.path.join(sandbox_dir, "halogens.csv")
halogens_db_sbpath = os.path.join(sandbox_dir, "halogens.db")  # SQLite database file

# Load CSV file into Pandas DataFrame
df = pd.read_csv(halogens_csv_sbpath)

# Connect to SQLite database (creates the file if it doesnâ€™t exist)
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

# Create table (adjust column names to match CSV headers)
cursor.execute("""
    CREATE TABLE IF NOT EXISTS elements (
        Element TEXT NOT NULL,
        atomic_number INTEGER PRIMARY KEY,
        atomic_mass REAL,
        Electronegativity REAL
    )
""")

# Insert data from DataFrame into SQLite table, this replaces  the data
df.to_sql("elements", conn, if_exists="replace", index=False)

# Commit changes and close connection
conn.commit()
conn.close()

In [13]:
import sqlite3

conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Tables in the database:", tables)
conn.close()

Tables in the database: [('elements',)]

In [14]:
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

cursor.execute("PRAGMA table_info(elements);")
fields = [row[1] for row in cursor.fetchall()]

print("Fields in the 'elements' table:", fields)
conn.close()

Fields in the 'elements' table: ['Element', 'Atomic Number', 'Atomic Mass', 'Electronegativity']

In [15]:
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()
cursor.execute('ALTER TABLE elements RENAME COLUMN "Atomic Mass" TO AtomicMass;')
cursor.execute('ALTER TABLE elements RENAME COLUMN "Atomic Number" TO AtomicNumber;')

cursor.execute("PRAGMA table_info(elements);")
fields = [row[1] for row in cursor.fetchall()]

print("Fields in the 'elements' table:", fields)
conn.close()

Fields in the 'elements' table: ['Element', 'AtomicNumber', 'AtomicMass', 'Electronegativity']

In [16]:
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

cursor.execute("SELECT * FROM elements LIMIT 5;")
records = cursor.fetchall()

for record in records:
    print(record)

conn.close()

('F', 9, 18.998, 3.98)
('Cl', 17, 35.45, 3.16)
('Br', 35, 79.904, 2.96)
('I', 53, 126.9, 2.66)
('At', 85, 210.0, 2.2)

In [17]:
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

cursor.execute("SELECT Element FROM elements WHERE AtomicMass < 50;")
light_elements = cursor.fetchall()

print("Elements that weight less than 50 amu:")
for element in light_elements:
    print(element)
cursor.execute("SELECT AtomicMass FROM elements WHERE Element LIKE 'Cl';")
var=cursor.fetchall()
conn.close()
print(var)
print(type(var))

Elements that weight less than 50 amu:
('F',)
('Cl',)
[(35.45,)]
<class 'list'>

In [18]:
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

cursor.execute("SELECT AtomicMass FROM elements WHERE Element LIKE 'Cl';")
var = cursor.fetchone()  # Use fetchone() for a single value
conn.close()
atomic_mass = var[0]  # Extract float value
print(atomic_mass, type(atomic_mass))  # Output: 35.45 <class 'float'>

35.45 <class 'float'>

In [19]:
conn = sqlite3.connect(halogens_db_sbpath)
cursor = conn.cursor()

cursor.execute("SELECT Element, AtomicMass FROM elements ORDER BY AtomicMass DESC LIMIT 1;")
heaviest_element = cursor.fetchone()

print("Heaviest element:", heaviest_element)
conn.close()

Heaviest element: ('Ts', 294.0)

In [20]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect(halogens_db_sbpath)

# Load entire 'elements' table into a DataFrame
df = pd.read_sql_query("SELECT * FROM elements;", conn)

# Close connection
conn.close()

# Display DataFrame
print(df)

  Element  AtomicNumber  AtomicMass  Electronegativity
0       F             9      18.998               3.98
1      Cl            17      35.450               3.16
2      Br            35      79.904               2.96
3       I            53     126.900               2.66
4      At            85     210.000               2.20
5      Ts           117     294.000                NaN